<!--<h1>디테일한 메뉴들</h1>-->
<!-- 메뉴 pk로 detail page 넘겨주기 
사진, 설명, 가격 나오면 됩니다-->
<!--  -->

{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>룸서비스 | H6</title>
        <link rel="stylesheet" href="{% static 'PadApp/css/style.css' %}">
        <script language="javascript">
          function showPopup(){
            window.open("rs_basket_complete.html","주문완료","width=400,height=300,left=100,top=50");
          }
        </script>
    </head>
    <body>
      <button calss="back_btn" onclick="location.href='roomservice.html'">뒤로</button>
      <div class="detail">
        <img src="" alt="" class="food_img">
        <p>적당히 구워진 훈제 연어와 간단한 채소의 조화</p>
        <div class="number">
          <table class="count">
            <tr>
              <td>
                <div>
                  <button type="button" name="button" class="countDown" >-</button>
                </div>
              </td>
              <td>
                <span id="numberUpDown">1</span><!--장바구니에 담을 개수-->
              </td>
              <td>
                <div>
                  <button type="button" name="button" class="countUp">+</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <div class="price">
            <p>가격 : 5.1</p>
          </div>
        <div class="">
          <input type="button" value="담기" onclick="showPopup()"/>
          <!--클릭 시 장바구니 이동 팝업창 보여주고 list page(roomservice.html)로 이동-->
        </div>
      </div>
    </body>
</html>
<h1>TEST</h1>
{{menu_name}}