* {
	box-sizing: border-box;
}

body {
	background: #33363D;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.5;
  	text-align: center;
	-webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
}

h2 {
	font-size: 16px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
}

h4 {
	font-size: 18px;
}


/* Intro */

header {
	padding: 20px;
    text-align: center;
    
}


/* Kanban board */

.kanban-container {
	margin: 20px auto;
	max-width: 1000px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.kanban-list {
	display: flex;
	align-items: flex-start;
}

.kanban-column {
	flex: 1;
	margin: 0 10px;
	position: relative;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.kanban-column-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

.header-requests {
	background: #FF9800;
}

.header-done {
	background: #009688;
}

.header-progress {
	background: #8BC34A;
}

.drag-inner-list {
	min-height: 50px;
}

.drag-item {
	margin: 10px;
	height: 100px;
	text-align: left;
	background: rgba(0, 0, 0, 0.4);
}

.drag-item:active {
	color: white;
}


/* micro-interactions */
.drop-zone-active {
	border-color: grey;
  box-shadow: 0 0 10px grey
}


/* mobile */

@media (max-width: 690px) {
	.kanban-list {
		display: block;
	}

	.kanban-column {
		margin-bottom: 30px;
	}
}

.menu ul, .menu li {
	margin: 0;
    padding: 0;
}
.menu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.menu li {
	float: right;
	position: relative;
    width:auto;
    top: -100px;
    
}
.menu a {
	background: #33363D;
	color: #FFFFFF;
	display: block;
	font: bold 16px sans-serif;
	padding: 10px 25px;
	
}

.cancel_btn_container {
	height: 30px;
	line-height: 50px;
	margin-left: 5px;
	display: flex;
	color: #fff;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	vertical-align: bottom;
}

.cancel {
	height: 100%;
    background-color: #c44345;
    border: none;
    color:#fff;
	text-align: center;
    font-size: 12px;
	cursor: pointer;
	transition: 0.3s ease all;
}
