{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'TaskApp/css/center_requests_status.css' %}">
    </head>
    <body>
        <header>
            <h1>REQUESTS STATUS</h1>
        </header>

        <a href="#menu" id="toggle"><span></span></a>

        <div id="menu">
          <ul>
            <li><a href="#" onclick="dept_apply()">Customer Response Dept</a></li>
            <li><a href="#">Cleaning Department</a></li>
            <li><a href="#">Food Beverage Dept</a></li>
            <li><a href="#">Technical Support Dept</a></li>
            <li><a href="#">Robot</a></li>
            <li><a href="#">Parking Dept</a></li>
            <li><a href="#">Purchasing Dept</a></li>
            <li><a href="#">Center Dept</a></li>
          </ul>
        </div>

        <nav>
          <div class="menu-btn">
          <div class="line line--1"></div>
          <div class="line line--2"></div>
          <div class="line line--3"></div>
          </div>
          
          <div class="nav-links">
          <a href="staff_request.html" class="link">My Task</a>
          <a href="serve_request.html" class="link">Serve Request</a>
          <a href="#" class="link">Product Request</a>
          <a href="center_requests_status.html" class="link">Request Status</a>
          <a href="live_reservation_status.html" class="link">Reservation Status</a>
          <a href="#" class="link">Start Work</a>
          <a href="#" class="link">Off Work</a>
          </div>
          </nav>

      <div class="kanban-container">
        <ul class="kanban-list">
          <li class="kanban-column kanban-column-requests">
          <span class="kanban-column-header header-requests">
            <h2>requests</h2>
          </span>
          <div class="kanban-options"></div>
          <ul class="drag-inner-list" name="Wait_For_Accept">
          </ul>
          </li>

          <li class="kanban-column kanban-column-progress">
          <span class="kanban-column-header header-progress">
            <h2>In Progress</h2>
          </span>
          <div class="kanban-options"></div>
          <ul class="drag-inner-list" name="Proceeding">
          </ul>
          </li>

          <li class="kanban-column kanban-column-done">
            <span class="kanban-column-header header-done">
              <h2>Done</h2>
            </span>
            <div class="kanban-options"></div>
            <ul class="drag-inner-list" name="Completed">
            </ul>
          </li>

        </ul>
      </div>
  
  
       <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
       <script type = 'text/javascript'>
            var data = {{json|safe}}
            console.log(data[0])
       </script>
       <script src="{% static 'TaskApp/js/center_requests_status.js' %}"></script>
    </body>
</html>