{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'TaskApp/css/center_requests_status.css' %}">
    </head>
    <body>
        <header>
            <h1>REQUESTS STATUS</h1>
        </header>

        <a href="#menu" id="toggle"><span></span></a>

        <div id="menu">
          <ul>
            <li><a href="#room">Room</a></li>
            <li><a href="#reservation">Reservation</a></li>
            <li><a href="#machine">Machine</a></li>
            <li><a href="#parking">Parking</a></li>
            <li><a href="#cleaning">Cleaning</a></li>
            <li><a href="#center">Center</a></li>
            <li><a href="#purchasing">Purchasing</a></li>
          </ul>
        </div>

        <div class="kanban-container">
          <ul class="kanban-list">
            <li class="kanban-column kanban-column-requests">
            <span class="kanban-column-header header-requests">
              <h2>requests</h2>
            </span>
            <div class="kanban-options"></div>
            <ul class="drag-inner-list">
              <li class="drag-item" draggable="true"></li>
              <li class="drag-item" draggable="true"></li>
              <li class="drag-item" draggable="true"></li>
              <li class="drag-item" draggable="true"></li>
            </ul>
            </li>
  
            <li class="kanban-column kanban-column-progress">
            <span class="kanban-column-header header-progress">
              <h2>In Progress</h2>
            </span>
            <div class="kanban-options"></div>
            <ul class="drag-inner-list">
              <li class="drag-item" draggable="true"></li>
              <li class="drag-item" draggable="true"></li>
              <li class="drag-item" draggable="true"></li>
            </ul>
            </li>
  
            <li class="kanban-column kanban-column-done">
              <span class="kanban-column-header header-done">
                <h2>Done</h2>
              </span>
              <div class="kanban-options"></div>
              <ul class="drag-inner-list">
                <li class="drag-item" draggable="true"></li>
                <li class="drag-item" draggable="true"></li>
              </ul>
            </li>
  
          </ul>
        </div>
  
  
       <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
        
       <script src="TaskApp/js/center_requests_status.js"></script>
    </body>
</html>