{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'TaskApp/css/executive_task.css' %}">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="management"> 
            <h1>TASK</h1>
        </div>

        <nav>
            <div class="menu-btn">
            <div class="line line--1"></div>
            <div class="line line--2"></div>
            <div class="line line--3"></div>
            </div>
            
            <div class="nav-links">
            <a href="executive_main.html" class="link">Home</a>
            <a href="department_organization_chart.html" class="link">Organization Chart</a>
            <a href="sales_analysis.html" class="link">Sales Analysis</a>
            <a href="executive_task.html" class="link">My Task</a>
            </div>
            </nav>

            <div class="kanban-container">
              <ul class="kanban-list">
                <li class="kanban-column kanban-column-requests">
                <span class="kanban-column-header header-requests">
                  <h2>requests</h2>
                </span>
                <div class="kanban-options"></div>
                <ul class="drag-inner-list">
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class="cancel">CANCEL</button>
                    </div>
                  </li>
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class="cancel">CANCEL</button>
                    </div>
                  </li>
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class="cancel">CANCEL</button>
                    </div>
                  </li>
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class="cancel">CANCEL</button>
                    </div>
                  </li>
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class="cancel">CANCEL</button>
                    </div>
                  </li>
                </ul>
                </li>
      
                <li class="kanban-column kanban-column-progress">
                <span class="kanban-column-header header-progress">
                  <h2>In Progress</h2>
                </span>
                <div class="kanban-options"></div>
                <ul class="drag-inner-list">
                  <li class="drag-item" draggable="true">
                    <div>
                      <button class ="cancel">CANCEL</button>
                    </div>
                  </li>
                </ul>
                </li>
      
                <li class="kanban-column kanban-column-done">
                  <span class="kanban-column-header header-done">
                    <h2>Done</h2>
                  </span>
                  <div class="kanban-options"></div>
                  <ul class="drag-inner-list">
                    <li class="drag-item" draggable="true">
                      <div>
                        <button class="cancel">CANCEL</button>
                      </div>
                    </li>
                  </ul>
                </li>

                <li class="kanban-column kanban-column-approval">
                  <span class="kanban-column-header header-approval">
                    <h2>EMPLOYEE LEAVE</h2>
                  </span>
                  <div class="kanban-options"></div>
                  <ul class="drag-inner-list">
                    <li class="drag-item" draggable="true">
                      <div>
                        <button class ="approval">APPROVAL</button>
                      </div>
                      <div>
                        <button class ="cancel_">CANCEL</button>
                      </div>
                    </li>
                  </ul>
                  </li>
      
              </ul>
            </div>
      
      
          <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

            
        <script src="{% static 'TaskApp/css/executive_main.js' %}"></script>
        <script src="{% static 'TaskApp/css/executive_task.js' %}"></script>
    </body>

</html>