{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <title>real_time_reservation</title>
        <link rel="stylesheet" href="{% static 'TaskApp/css/live_reservation_check.css' %}">
    </head>
    <body>
        <header>
            <h1>RESERVATION STATUS</h1>
        </header>
            
        <body>
        <div class="floor">
            <img src="TaskApp/css/floor.jpg">
        </div>
        <script src="TaskApp/css/live_reservation_check.js"></script>
        </body>
</html>