{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <title>live_reservation_status</title>
        <link rel="stylesheet" href="{% static 'TaskApp/css/live_reservation_status.css' %}">
    </head>
    <body>
        <header>
            <h1>RESERVATION STATUS</h1>
        </header>
        <div class="select">
            <h2 class="input_date">INPUT DATE</h2>
            <br>
            <input type="date" class="calender">
            </div>
    
            <div class="floor">
                <ul class="sixth_front">
                    <li>601</li>
                    <li>602</li>
                    <li>603</li>
                </ul>
                <ul class="sixth_back">
                    <li>604</li>
                    <li>605</li>
                    <li>606</li>
                </ul>
                <ul class="fifth_front">
                    <li>501</li>
                    <li>502</li>
                    <li>503</li>
                    <li>504</li>
                </ul>
                <ul class="fifth_back">
                    <li>505</li>
                    <li>506</li>
                    <li>507</li>
                    <li>508</li>
                </ul>
                <ul class="fourth_front">
                    <li>401</li>
                    <li>402</li>
                    <li>403</li>
                    <li>404</li>
                    <li>405</li>
                    <li>406</li>
                </ul>
                <ul class="fourth_back">
                    <li>407</li>
                    <li>408</li>
                    <li>409</li>
                    <li>410</li>
                    <li>411</li>
                    <li>412</li>
                </ul>
                <ul class="third_front">
                    <li>301</li>
                    <li>302</li>
                    <li>303</li>
                    <li>304</li>
                    <li>305</li>
                    <li>306</li>
                </ul>
                <ul class="third_back">
                    <li>307</li>
                    <li>308</li>
                    <li>309</li>
                    <li>310</li>
                    <li>311</li>
                    <li>312</li>
                </ul>
                <ul class="second_front">
                    <li>201</li>
                    <li>202</li>
                    <li>203</li>
                    <li>204</li>
                    <li>205</li>
                    <li>206</li>
                </ul>
                <ul class="second_back">
                    <li>207</li>
                    <li>208</li>
                    <li>209</li>
                    <li>210</li>
                    <li>211</li>
                    <li>212</li>
                </ul>
            </div>
        </body>
</html>