<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'TaskApp/css/staff_attendance.css' %}">
    </head>
    <body>
        <header>
            <h1>MY ATTENDANCE</h1>
        </header>

        <div class="form">
            <br>
            <h2 class="input_date">INPUT DATE</h2>
            <br>
            <input type="date" class="calender">
        </div>
        
        <div class="attendance">
            <ul>
                <li>STARTING WORK TIME  <input type="time"/></li>
                <li>FINISHING WORK TIME  <input type="time"/></li>
                <li>APPLICATION FOR LEAVE  <select name="leave_type">
                    <option value="selected">select</option>
                    <option value="annual_leave">annual leave</option>
                    <option value="monthly_leave">monthly leave</option>
                    <option value="half_day_off">half day off</option>
                    <option value="others">others</option>
                    <option value="none">none</option>
                </select></li>
                    <li><button type="button">OK</button></li>
            </ul>

        </div>
        
    </body>
</html>