.bill {
    font-family: 'Roboto', san-serif;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
  }
  
  .box {
    width: 1000px;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 black;
  }
  
  .product {
    margin-left: 30px;
    padding: 20px;
    width: 300px;
    float: left;
  }
  
  .product h3 {
    font-family: 'Roboto Condensed', san-serif;
    margin: 15px 0 0;
  }
  
  .product .information {
    line-height: 1em;
    position: relative;
    right: 3px;
    margin-top: 20px;
  }
  
  .product .information td {
    vertical-align: top;
  }
  
  .product .label {
    font-weight: bold;
  }
  
  .product .break {
    padding-bottom: 20px;
  }
  
  form {
    float: right;
    background-color: #EEE;
    width: 500px;
    padding: 60px 80px 46px;
  }
  
  .cc-info {
    display: flex;
  }
  
  .cc-info input, .cc-info label {
    padding-left: 5px;
  }
  
  .input-group {
    height: 50px;
    margin: 0 0 20px;
  }
  
  .my{
    width:110px;
  }
  
  .ccv {
    width: 100px;
  }
  
  label, input {
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
  }
  
  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black;
    position: relative;
    top: -37px;
    background-color: transparent;
    transition: border-bottom 0.2s ease-in-out;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    display: block;
    background-color: black;
    border: 0;
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
    outline: none;
    float: right;
  }
  
  button:hover {
    cursor: pointer;
    background-color: gray;
    color:black;
  }
  