{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{reserve_room}}
        
        

        <input type="submit" value="결제하기">
    </form>
    <form method="GET" action= "{% url 'roomapp:reserve_compltete' %}">
        <label for="id_check_out">Card cvc Num : </label>
        <input type="text" name="card_cvc_num">

        <label for="id_check_out">card_experiment : </label>
        <input type="text" name="card_experiment">

        <label for="id_check_out">Card Password : </label>
        <input type="text" name="card_password">
    </form>
</body>
</html>
