<!DOCTYPE html>
<html lang="en" dir="ltr"><!--mypage에서 기간 설정 후 조회 눌렀을 때-->
  <head>
    <meta charset="utf-8">
    <title>예약내역 | H6</title>
    <link rel="stylesheet" href="{% static 'RoomApp/static/RoomApp/style.css' %}">
    <style type="text/css">
      a { text-decoration:none; color:black;}
      p {font-size: 15px; text-align: left;  }
    </style>
  </head>
  <body>
    <div id="wrap">
        <!-- 헤더영역 -->
        <header>
            <div class="top_menu">
                <ul class="top_nav container">
                    <li><a href="{% static 'UserApp/tempaltes/mypage.html' %}">마이페이지</a></li>
                    <li><a href="{% static 'UserApp/tempaltes/logout.html' %}">로그아웃</a></li>
                    <li><a href="#">한국어</a></li>
                </ul>
            </div>
            <div class="header_inner container">
                <h1><a href="reservation_main.html"></a>H6 HOTEL</h1>
                <nav>
                    <ul class="gnb">
                        <li><a href="reservation_main.html" style="text-decoration:none">홈</a></li>
                        <li><a href="intro2.html" style="text-decoration:none">H6호텔 소개</a></li>
                        <li><a href="room_info2.html" style="text-decoration:none">객실 안내</a></li>
                    </ul>
                </nav>
                <button class="reBtn" onclick="location.href='reservation_list.html'">예약하기</button>
            </div>
        </header>
        <div id="mypage">
            <h3 class="mypage">마이페이지</h3>
            <div>
              <ul class="mypage_contents">
                  <li class="check"><a href="{% static 'UserApp/tempaltes/mypage.html' %}">예약내역</a></li>
                  <li>회원정보</li>
                  <li>마일리지 확인하기</li>
                  <li>회원탈퇴</li>
              </ul>
            </div>
            <br>
            <div class="period">
              투숙기간 :
              <input type="date" name="checkIn" value="">&nbsp;~&nbsp;
              <input type="date" name="checkOut" value="">
              <button type="button1" class="button" onclick="location.href='reservation_check.html'">예약 조회</button>
            </div>
            <hr>
            <div class="reserve_check">
              <br><br>
              <img src="images/room1.jpg" class="img_standard">
              <p class="standard">스텐다드룸</p>
              <li>체크인 : </li>
              <li class ="checkIn">2020년 11월 21일</li>
              <li>체크아웃 : </li>
              <li class="checkOut">2020년 11월 23일</li>
              <li class="detail">자세히 보기</li>
              <button type="button1" class="button" onclick="location.href='#'">예약 취소</button>
            </div>
        </div>
    </div>
  </body>
</html>
